body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    flex-grow: 1;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: inset 3px rgb(105, 0, 105);
    background-color: purple;
}

.project-nav {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    background-color: yellowgreen;
    max-width: 200px;
    min-width: 200px;
    border-right: inset 2px grey;
}

#project-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

#project-list > li {
    width: auto;
    margin: 5px;
}

#project-list > li:hover{
    background-color: red;
}



.project-heading {
    font-size: 25px;
    margin: 15px;
    text-decoration: underline;
}

.task-button{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    min-height: 40px;
    margin: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: white;
}

.project-button {
    margin-top: auto;
    margin-bottom: 50px;
}

.title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 20px;
}

#task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.task-card {
    width: 200x;
    height: 150px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px;
}

.task-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}